<!DOCTYPE html>
<html>
<head>

<style>
    body {
        background-color:lightgray;
    }
    h1 {color:navy;
    margin-left: 20 px;}
    .button {
      background-color: #04AA6D;
      border: none;
      color: white;
      padding: 15px 40px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
      width: 120px;
    }
</style>
</head>

<body>

<h1>CENNIK</h1>


    {% for cena in cenniki %}
    <h3> {{ cena.imie }} {{ cena.nazwisko }} {{ cena.specjalizacja}} {{ cena.koszt }}</h3>   
       
    {% endfor %}
</body>
</html>

