<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  width: 120px;
}
</style>
</head>
<body>

<h2>Dodaj pacjenta</h2>


<form action="*">
    <label1>Imię</label1> <input type="text" name="imię" size="30" maxlength"20" />
    <label2>Nazwisko</label2> <input type="text" name="nazwisko" size="30" maxlength"20" />
    <label3>Numer</label3> <input type="text" name="numer" size="10" maxlength"10" />
    <br>
    <a href="index.html" class="button">Dodaj</a>
</form>


</body>
</html>

