<!DOCTYPE html>
<html>
<head>

<style>
    body {
        background-color:lightgray;
    }
    h1 {color:navy;
    margin-left: 20 px;}
    .button {
      background-color: #04AA6D;
      border: none;
      color: white;
      padding: 15px 40px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
      width: 120px;
    }
</style>
</head>

<body>

<h1>PRZYCHODNIA</h1>

<a href="form_pacjent1.html" class="button">Dodaj pacjenta</a>
<a href="usun_pacjent.html" class="button">Usuń pacjenta</a>
<br>
<a href="dodaj_lekarza.html" class="button">Dodaj lekarza</a>
<a href="usun_lekarz.html" class="button">Usuń lekarza</a>
<br>
<a href="#" class="button">Dodaj wizytę</a>
<a href="#" class="button">Usuń wizytę</a>
<br>
<a href="#" class="button">Wyświetl pacjentów</a>
<a href="#" class="button">Wyświetl lekarzy</a>
<br>
<a href="#" class="button">Wyświetl wizyty</a>
<a href="#" class="button">Pokaż zalecenia</a>
<br>
    {% for lekarz in lek %}
    <h2>{{ lekarz.imie }} {{ lekarz.nazwisko }} {{ lekarz.specjalizacja}}</h2>   
       
    {% endfor %}
</body>
</html>

