<!DOCTYPE html>
<html>
<head>

<style>
    body {
        background-color:lightgray;
    }
    h1 {color:navy;
    margin-left: 20 px;}
    .button {
      background-color: #04AA6D;
      border: none;
      color: white;
      padding: 15px 40px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
      width: 120px;
    }
</style>
</head>

<body>

<h1>PRZYCHODNIA</h1>

<a href="/admin.html" class="button">Dodaj pacjenta</a>
<a href="/admin.html" class="button">Usuń pacjenta</a>
<br>
<a href="/admin.html" class="button">Dodaj lekarza</a>
<a href="/admin.html" class="button">Usuń lekarza</a>
<br>
<a href="#" class="button">Dodaj wizytę</a>
<a href="#" class="button">Usuń wizytę</a>
<br>
<a href="#" class="button">Wyświetl pacjentów</a>
<a href="#" class="button">Wyświetl lekarzy</a>
<br>
<a href="#" class="button">Wyświetl wizyty</a>
<a href="#" class="button">Pokaż zalecenia</a>
<br>

</html>

