<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="button_style.css">
</head>
<body>

<h2>Usuń pacjenta</h2>


<form action="tkinter_przychodnia1Grz.py" method ="GET">
    <label1>Imię</label1> <input type="text" name="imię" size="30" maxlength"20" />
    <label2>Nazwisko</label2> <input type="text" name="nazwisko" size="30" maxlength"20" />
    <br>
    <button class = "button" type ="submit">  Usun</button>
  <!--<a href="index.html" class="button">Usuń</a> -->
</form>


</body>
</html>

